@import 'tailwindcss';
@import 'tailwindcss-primeui';

@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));

:root {
    --page-width: 794px;
    --page-height: 1123px;
}

body {
    overflow-y: hidden;
}

.page {
    width: var(--page-width);
    height: var(--page-height);
    margin: 0 auto;
    padding: var(--page-padding);

    box-sizing: border-box;

    position: relative;

    overflow: hidden;

    background-color: var(--surface-ground);
    color: var(--text-color);

    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

    border: 2px solid var(--color-zinc-200);

    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}


.render-area {
    width: var(--page-width);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
}

@media print {
    @page {
        size: A4;
        margin: 0; /* 清除打印默认边距 */
    }

    body, html {
        padding: 0;
        margin: 0;
        overflow: hidden
    }
    
    .page {
        width: var(--page-width);
        height: var(--page-height);
        box-sizing: border-box;
        padding: var(--page-padding);
        margin: 0;
        break-before: page;
        box-shadow: none;
        border: none;
        overflow: hidden;
        border-radius: 0;
    }

    .resume-avater-placeholder {
        display: none;
    }
}
