@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';

@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));

body {
    overflow-y: hidden;
}

.page {
    width: 794px;
    height: 1123px;
    margin: 16px auto;
    padding: 48px;
    
    box-sizing: content-box;

    overflow: hidden;

    /* 背景适配亮暗模式 */
    background-color: var(--surface-ground);
    color: var(--text-color);

    /* 柔和阴影 + 圆角 */
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

    /* 分页边框可选 */
    border: 1px solid var(--surface-border);
}

.content-box {
    h1 {
        font-size: var(--text-2xl);
        font-weight: bold;
        border-bottom: 1px solid;
    }
}