@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));

body {
    overflow-y: hidden;
}

.page {
    width: 794px;
    height: 1123px;
    margin: 0 auto;
    padding: var(--page-padding);

    box-sizing: content-box;

    position: relative;

    overflow: hidden;

    /* 背景适配亮暗模式 */
    background-color: var(--surface-ground);
    color: var(--text-color);

    /* 柔和阴影 + 圆角 */
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

    /* 分页边框可选 */
    border: 2px solid var(--color-zinc-200);

    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}


.render-area {
    width: 794px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
}

@media print {
    body, html {
         overflow-x: hidden
    }
    
    .page {
        zoom: 0.9; /* 缩小整体页面内容 */
        padding: var(--page-padding);
        margin: 0;
        break-before: page;
        box-shadow: none;
        border: none;
        overflow-x: hidden;
        border-radius: 0;
    }

    .resume-avater-placeholder {
        display: none;
    }
}
